.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-weight: bold;
  color: #f5dd05;
  padding: 25px 15px;
}
.navbar {
  background-color: #962d76;
  text-align: center;
}
