
.sobre {
  margin-top: 10%;
  text-align: center;
  left: 50%;
  top: 50%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  

  h1 {
    color: rgb(196, 12, 12);
  }

  ul {
    list-style-type: none;
  }
}
