$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: rgb(255, 255, 255);

html, body {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
